<div class="with-sidebar-wrapper">
  <section id="content-section-1">
    <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
      <div class="greennature-page-title-overlay"></div>
      <div class="greennature-page-title-container container">
          <h1 class="greennature-page-title">Seuls,nous pouvons faire si peu ensemble, nous pouvons faire beaucoup</h1>
          <span class="greennature-page-caption">Trouvez une mission!</span>
      </div>
  </div>
      <div class="clear"></div>
  </section>

  <section id="content-section-3"style="background-color: #f3f3f3;">
    <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #f3f3f3; padding-top: 70px; padding-bottom: 53px; ">
        <div class="container">
          <div class="six columns">
            <div class="greennature-ux column-service-ux">
              <article id="post-35" class="post-35 post type-post status-publish format-aside hentry category-aside category-blog tag-aside tag-post-format post_format-post-format-aside">
                <div class="greennature-blog-content">
                <p>" On a intérêt au bonheur des autres, on a intérêt à ce que les autres ne soient pas malades, on a intérêt au succès des autres parce que nous sommes une équipe collective.
                <h6 style="text-align: right;">Jacques Attali</h6>

                </div>
            </article>
            </div>
        </div>
            <div class="six columns" style="color:black">
                <div class="greennature-item greennature-about-us-item greennature-normal">
                    <div class="about-us-title-wrapper">
                        <h3 class="about-us-title">{{association.nom_association}}</h3>
                        <div class="about-us-title-divider"></div>
                    </div>
                    <div class="about-us-content-wrapper">
                        <div class="about-us-content greennature-skin-content">
                          <div class="six columns">
                            <div class="greennature-item greennature-content-item" ></div>
                            <div class="greennature-item greennature-icon-with-list-item">
                                <div class="list-with-icon-ux greennature-ux">
                                    <div class="list-with-icon greennature-left">
                                      <div class='col-12 d-flex align-items-center my-2'>
                                        <img style="height: 30px" src="{{association.imageUrl}}"   />
                                        <p>   {{association.secteur.type_activite}}</p>
                                        </div>
                                        <div class='col-12 d-flex align-items-center my-2'>
                                        <i class='fa fa-user' style='font-size: 30px'></i>
                                        <p>{{association.name}} {{association.prenom}}</p>
                                        </div>
                                        <div class='col-12 d-flex align-items-center my-2'>
                                        <i class='fa fa-map-marker' style='font-size: 30px'></i>
                                        <p>{{association.adresse}} , {{association.code_postal}}</p>
                                        </div>
                                        <div class='col-12 d-flex align-items-center my-2'>
                                        <i class='fas fa-link' style='font-size: 30px'></i>
                                        <a target="_blank" > {{association.lien}}</a>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>


                                <div class="clear"></div>
                            </div>
                        </div></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>



  <section id="content-section-3"style="background-color: #f3f3f3;">
      <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #f3f3f3; padding-top: 70px; padding-bottom: 53px; ">
          <div class="container">
            <div class="six columns">
              <div class="greennature-ux column-service-ux">
                  <div class="greennature-item greennature-column-service-item greennature-type-3">
                      <div class="column-service-image"><img src="assets/upload/column-service-3.jpg" alt="" width="500" height="279" /></div>

                  </div>
              </div>
          </div>
              <div class="six columns"style="color:black">
                  <div class="greennature-item greennature-about-us-item greennature-normal">
                      <div class="about-us-title-wrapper">
                          <h3 class="about-us-title">Le fondateur</h3>

                          <div class="about-us-title-divider"></div>
                      </div>
                      <div class="about-us-content-wrapper">
                          <div class="about-us-content greennature-skin-content">
                              <p> {{association.description}}</p>
                          </div>
                      </div>
                      <div class="clear"></div>
                  </div>
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="clear"></div>
  </section>

  <section id="content-section-5">
      <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin" id="greennature-parallax-wrapper-2" data-bgspeed="0.1" style="background-image: url('assets/images/mmm.jpg'); background-repeat: no-repeat; padding-top: 125px; padding-bottom: 100px;background-size:1600px 600px; ">
          <div class="container">
              <div class="greennature-stunning-item-ux greennature-ux">
                  <div class="greennature-item greennature-stunning-item greennature-stunning-center">
                      <h2 class="stunning-item-title">ENSEMBLE,
                        DÉVELOPPONS LES
                        SOLIDARITÉS!</h2>
                      <div class="stunning-item-caption greennature-skin-content">

                      </div><a class="stunning-item-button greennature-button large greennature-lb-payment" routerLink="/association/registration" style="background-color: #b80d57; color: #ffffff;">Inscrivez-vous!</a>
                      </div>
              </div>
              <div class="clear"></div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="clear"></div>
  </section>
</div>

<app-footer></app-footer>

