<div class="with-sidebar-wrapper">
  <section id="content-section-1">
    <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
      <div class="greennature-page-title-overlay"></div>
      <div class="greennature-page-title-container container">
          <h1 class="greennature-page-title">Seuls,nous pouvons faire si peu ensemble, nous pouvons faire beaucoup</h1>
          <span class="greennature-page-caption">Dècouvrir nos associations!</span>
      </div>
  </div>
      <div class="clear"></div>
  </section>

  <section id="content-section-3"style="background-color:white;" >
    <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: white; padding-top: 70px; padding-bottom: 53px; ">
        <div class="container">
          <div class="six columns">
            <div class="greennature-ux column-service-ux">
              <article id="post-35" class="post-35 post type-post status-publish format-aside hentry category-aside category-blog tag-aside tag-post-format post_format-post-format-aside">
                <div class="greennature-blog-content" >
            <h3>{{association.nom_association}}</h3>
                <p>" {{association.description}}."
                <h6 style="text-align: right;">{{association.name}} {{association.prenom}}</h6>
                </div>
            </article>
            </div>
            <div class="six columns" style="border-color:#aee6e0;margin-top:-336px;margin-left: 655px;
            width:420px;
            border-style: groove;
            border-width: 7px;
margin-right:5px;
            color:black">
                <div class="greennature-item greennature-about-us-item greennature-normal">
                    <div class="about-us-title-wrapper">
                        <h3 class="about-us-title">Contact</h3>
                        <div class="about-us-title-divider"></div>
                    </div>
                    <div class="about-us-content-wrapper">
                        <div class="about-us-content greennature-skin-content">
                          <div class="six columns">
                            <div class="greennature-item greennature-content-item" ></div>
                            <div class="greennature-item greennature-icon-with-list-item">
                                <div class="list-with-icon-ux greennature-ux">
                                    <div class="list-with-icon greennature-left">
                                      <div class='col-12 d-flex align-items-center my-2'>
                                        <img style="height: 90px;height: 80px;" src="{{association.imageUrl}}"   />
                                        <p>   {{association.secteur1.type_activite}}</p>
                                        </div>
                                        <i class=" greennature-icon fa fa-user" style="vertical-align: middle; color:black; font-size: 33px; "></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{association.name}} {{association.prenom}}
                                        <br>

                                        <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color:black; font-size: 33px; "></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{association.numero_association}}
                                             <br>
                                             <i class='greennature-icon fa fa-envelope-o' style="vertical-align: middle; color:black; font-size: 33px; "></i>
                                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{association.email}}


                                        <i class='greennature-icon fa fa-map-marker' style="vertical-align: middle; color:black; font-size: 33px; "></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      {{association.adresse}} , {{association.code_postal}}
<br>
                                        <i class='greennature-icon fa fa-link' style='font-size: 33px'></i>
                                        <a target="_blank" >
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <br>
                                          {{association.lien}}</a>

                                        <div class="clear"></div>
                                    </div>
                                </div>


                                <div class="clear"></div>
                            </div>
                        </div></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>



            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</section>



  <section id="content-section-3"style="background-color:white;">

    <mat-divider style="color:black;size:120px">
    </mat-divider>

    <h3>Les missions de l'association</h3>
    <mat-divider style="color:black;size:120px">
    </mat-divider>
    <mat-grid-list cols="5" rowHeight="160:160" >
                  <mat-grid-tile *ngFor=" let mission of missions$ | async as missions" style="margin-left:20px; max-width: 400px;">
                    <div class="portfolio-classic-content" >

                      <div class="d-flex m-0 p-3 modal-leg" style="margin-top:top;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="d-none d-lg-block p-2 text-center"style="margin-top:-50px">
                        <a ><img alt="LOGO" class="modal-logo bg-white" src="{{mission.imageUrl}}" style=" height: 100px; width: 100px;">
                        </a>
                        </div>
                        </div>
                      <button mat-raised-button  style="background-color:#b80d57;  color:white" (click)="onCreate(mission)">
                        <mat-icon>add</mat-icon>Participer
                      </button>

                      &nbsp;&nbsp; &nbsp;&nbsp;
                        <h3 class="portfolio-title" style="color: cornflowerblue;"><a>&nbsp; &nbsp;&nbsp;{{mission.sujet}}</a></h3>
                        <div class="greennature-portfolio-info">
                            <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a [routerLink]="['/association/',mission.nom_association1._id]"rel="tag">
                              {{mission.nom_association1.nom_association}}
                            </a></div>
                            <div class="clear"></div>
                        </div>
                        <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a style="color:red;">{{mission.date}}</a></div>
                        <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a style="color:red;">{{mission.datefin}}</a></div>

                          </div>



                    </mat-grid-tile>
                </mat-grid-list>

              <div class="clear"></div>

      <div class="clear"></div>
  </section>

  <section id="content-section-5">
      <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin" id="greennature-parallax-wrapper-2" data-bgspeed="0.1" style="background-image: url('assets/images/mmm.jpg'); background-repeat: no-repeat; padding-top: 125px; padding-bottom: 100px;background-size:1600px 600px; ">
          <div class="container">
              <div class="greennature-stunning-item-ux greennature-ux">
                  <div class="greennature-item greennature-stunning-item greennature-stunning-center">
                      <h2 class="stunning-item-title">ENSEMBLE,
                        DÉVELOPPONS LES
                        SOLIDARITÉS!</h2>
                      <div class="stunning-item-caption greennature-skin-content">

                      </div><a class="stunning-item-button greennature-button large greennature-lb-payment" routerLink="/user/register" style="background-color: #b80d57; color: #ffffff;">Inscrivez-vous!</a>
                      </div>
              </div>
              <div class="clear"></div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="clear"></div>
  </section>
</div>

<app-footer></app-footer>

