
<section id="content-section-4">
  <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
      <div class="container">
          <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
              <div class="greennature-item-title-container container">
                  <div class="greennature-item-title-head">
                      <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="assets/upload/target.png" alt="" width="80" height="80" />Nos missions</h3><a class="greennature-item-title-link" routerLink="/mission-details">plus de mission</a>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          <div class="portfolio-item-wrapper type-classic-portfolio" style="margin-left:0px">
              <div class="portfolio-item-holder  greennature-portfolio-column-4">
                  <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows" style="margin-left:10px">
                      <div class="clear"></div>

                          <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio" style="margin-left:0px">
                              <div class="greennature-ux greennature-classic-portfolio-ux" style="margin-left:0px" >
                                &nbsp;&nbsp;

                                  <mat-grid-list cols="4" rowHeight="160:160" >
                                    <mat-grid-tile *ngFor=" let mission of missions$ | async as missions" style="margin-left:20px; max-width: 400px;">


                                      <div class="portfolio-classic-content" >
                                                {{mission.type}}
                                        <div class="d-flex m-0 p-3 modal-leg" style="margin-top:top;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <div class="d-none d-lg-block p-2 text-center"style="margin-top:-50px">
                                          <a ><img alt="LOGO" class="modal-logo bg-white" src="{{mission.imageUrl}}" style=" height: 100px;">
                                          </a>
                                          </div>
                                          </div>
                                        <button mat-raised-button  style="background-color:#b80d57; margin-left:20px; color:white" (click)="onCreate(mission)">
                                          <mat-icon>add</mat-icon>Participer
                                        </button>

                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                          <h3 class="portfolio-title"><a>  &nbsp;&nbsp; &nbsp;&nbsp;{{mission.sujet}}</a></h3>
                                          <div class="greennature-portfolio-info">
                                              <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a href="#" rel="tag">{{mission.nom_association1.nom_association}}</a></div>
                                              <div class="clear"></div>
                                          </div>
                                          <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#" style="color:red;">{{mission.date}}</a></div>
                                          <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#" style="color:red;">{{mission.datefin}}</a></div>

                                              <div class="clear"></div><a href="#" class="excerpt-read-more">savoir plus</a><a class="portfolio-classic-learn-more">savoir plus</a></div>



                                      </mat-grid-tile>
                                  </mat-grid-list>




                          </div>
                      </div>




                  <div class="clear"></div>
              </div>
          </div>
          <div class="clear"></div>
          <div class="clear"></div>
      </div>

  <div class="clear"></div>
