<footer class="footer-wrapper">
  <div class="footer-container container">
      <div class="footer-column three columns" id="footer-widget-1">
          <div id="text-5" class="widget widget_text greennature-item greennature-widget">
              <div class="textwidget">
                  <p><img src="assets/images/gg.png" style="width: 170px;" alt="" /></p>
                  <p>SADAKA est une plateforme qui rapproche bénévoles et associations !</p>
              </div>
          </div>
      </div>
      <div class="footer-column three columns" id="footer-widget-2">
          <div id="text-9" class="widget widget_text greennature-item greennature-widget">
              <h3 class="greennature-widget-title">Contactez-nous </h3>
              <div class="clear"></div>
              <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span> Address:

                  <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                  <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> +216

                  <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                  <i class="greennature-icon fa fa-mobile" style="vertical-align: middle; color: #fff; font-size: 20px; "></i> +216

                  <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                  <i class="greennature-icon fa fa-envelope-o" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> sadakacontact@gmail.com</div>
          </div>
      </div>
      <div class="footer-column three columns" id="footer-widget-3">
          <div id="gdlr-recent-post-widget-5" class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
              <h3 class="greennature-widget-title">suivez-Nous</h3>
              <div class="clear"></div>
              <div class="greennature-recent-post-widget">
                  <div class="recent-post-widget">
                      <div class="recent-post-widget-thumbnail">
                          <a href="#"><img src="assets/upload/ff2.png" alt="" width="150" height="150" /></a>
                      </div>
                      <div class="recent-post-widget-content">
                          <div class="recent-post-widget-title"><a href="#">facebook</a></div>
                          <div class="recent-post-widget-info">

                              <div class="clear"></div>
                          </div>
                      </div>
                      <div class="clear"></div>
                  </div>
                  <div class="recent-post-widget">
                      <div class="recent-post-widget-thumbnail">
                          <a href="#"><img src="assets/upload/insta2.png" alt="" width="150" height="150" /></a>
                      </div>
                      <div class="recent-post-widget-content">
                          <div class="recent-post-widget-title"><a href="#">Instagram</a></div>

                      </div>
                      <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
              </div>
          </div>
      </div>
      <div class="footer-column three columns" id="footer-widget-4">
          <div id="gdlr-recent-portfolio2-widget-6" class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
              <h3 class="greennature-widget-title">AGIR MAINTENANT !</h3>
              <div class="clear"></div>
              <div class="greennature-recent-port2-widget">
                  <div class="recent-port-widget-thumbnail">

                  </div>

                                  <ul class="dl-submenu">
<br>

                                      <li class="menu-item"><a href="portfolio-grid-2-columns.html">les mission</a></li>
                                      <li class="menu-item"><a href="portfolio-grid-2-columns.html">les annuaires</a></li>
                                      <li class="menu-item"><a href="portfolio-grid-3-columns.html">coin de paratges</a></li>
                               </ul>


                  <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                  </div>
                  <div class="recent-port-widget-thumbnail">

                  </div>
                  <div class="recent-port-widget-thumbnail">
                  </div>
                  <div class="recent-port-widget-thumbnail">
                  </div>
                  <div class="recent-port-widget-thumbnail">
                  </div>
                  <div class="clear"></div>
              </div>
          </div>
      </div>
      <div class="clear"></div>



</footer>
