<link rel="stylesheet" href="assets/assets/css/style.css">

<link rel="stylesheet" href="assets/vendors/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
<link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="assets/vendors/selectFX/css/cs-skin-elastic.css">

<br>


<aside id="left-panel" class="left-panel">
  <br>
  <nav class="navbar navbar-expand-sm navbar-default">
<app-liste-dash></app-liste-dash>

  </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->


<!-- Right Panel -->

<div id="right-panel" class="right-panel">

  <!-- Header-->
  <header id="header" class="header">

      <div class="header-menu">

          <div class="col-sm-7">
              <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
              <div class="header-left">
                  <button class="search-trigger"><i class="fa fa-search"></i></button>
                  <div class="form-inline">
                      <form class="search-form">
                          <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                          <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                      </form>
                  </div>

                  <div class="dropdown for-notification">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-bell"></i>
                          <span class="count bg-danger">5</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="notification">
                          <p class="red">You have 3 Notification</p>
                          <a class="dropdown-item media bg-flat-color-1" href="#">
                          <i class="fa fa-check"></i>
                          <p>Server #1 overloaded.</p>
                      </a>
                          <a class="dropdown-item media bg-flat-color-4" href="#">
                          <i class="fa fa-info"></i>
                          <p>Server #2 overloaded.</p>
                      </a>
                          <a class="dropdown-item media bg-flat-color-5" href="#">
                          <i class="fa fa-warning"></i>
                          <p>Server #3 overloaded.</p>
                      </a>
                      </div>
                  </div>

                  <div class="dropdown for-message">
                      <button class="btn btn-secondary dropdown-toggle" type="button"
                          id="message"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ti-email"></i>
                          <span class="count bg-primary">9</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="message">
                          <p class="red">You have 4 Mails</p>
                          <a class="dropdown-item media bg-flat-color-1" href="#">
                          <span class="photo media-left"><img alt="avatar" src="/assets/images/avatar/1.jpg"></span>
                          <span class="message media-body">
                              <span class="name float-left">Jonathan Smith</span>
                              <span class="time float-right">Just now</span>
                                  <p>Hello, this is an example msg</p>
                          </span>
                      </a>
                          <a class="dropdown-item media bg-flat-color-4" href="#">
                          <span class="photo media-left"><img alt="avatar" src="/assets/images/avatar/2.jpg"></span>
                          <span class="message media-body">
                              <span class="name float-left">Jack Sanders</span>
                              <span class="time float-right">5 minutes ago</span>
                                  <p>Lorem ipsum dolor sit amet, consectetur</p>
                          </span>
                      </a>
                          <a class="dropdown-item media bg-flat-color-5" href="#">

                      </a>
                          <a class="dropdown-item media bg-flat-color-3" href="#">
                          <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>

                      </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle"  [src]="imageUrl? imageUrl:'/assets/images/admin.jpg'" alt="{{currentUser.name}}">

                  </a>

                <br/>


              <app-auth></app-auth>
            </div>


        </div>
      </div>

  </header><!-- /header -->
  <!-- Header-->

  <div class="content mt-3">
      <div class="animated fadeIn">
          <div class="row">
          <!--/.col-->
      </div>
      <!--/.col-->
  </div>
  <!--/.col-->


<div class="col-lg-4 col-md-6" style="height: 982px;">
  <aside class="profile-nav alt">
      <section class="card">
          <div class="card-header user-header alt bg-dark">
              <div class="media">
                  <a href="#">{{currentUser.prenom}}</a>
                  <div class="media-body">
                      <h2 class="text-light display-6"> </h2>
                      <p></p>
                  </div>
              </div>
          </div>


          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-envelope-o"></i> Mail Inbox <span class="badge badge-primary pull-right">10</span></a>
              </li>
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-tasks"></i> Recent Activity <span class="badge badge-danger pull-right">15</span></a>
              </li>
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-bell-o"></i> Notification <span class="badge badge-success pull-right">11</span></a>
              </li>
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-comments-o"></i> Message <span class="badge badge-warning pull-right r-activity">03</span></a>
              </li>
              <li class="list-group-item">
                  <a [routerLink]="['/admin/edit-profil',currentUser._id]"> <i class="fa fa-cog"></i> Paramètre </a>
              </li>
          </ul>

      </section>
  </aside>
</div>
<form (ngSubmit)="addPost()">
  <div class="col-lg-4 col-md-6"style="width:1000px; margin-left:120px;">
    <div class="card">
      <!-- <img class="rounded-circle mx-auto d-block"  [src]="imageUrl ? imageUrl :'/assets/images/admin.jpg'" alt="Card image cap"
      style=" height: 40%;
    width: 40%;
    border-radius: 40%;">
    <div class="hover-text">Choose file</div>
    <div class="background" ></div>
    <input type="file" id="fileInput" class="form-control-file" (change)="uploadImages($event)" /> -->
    <style>
    p {
    font-family: Lato;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }

  #fileInput{
    display: none;
  }
    </style>
    <label class="hoverable" for="fileInput" style="margin-left: 30px;">
      <img src="{{currentUser.imageUrl}}" >
      <div class="hover-text">Changer</div>
      <div class="background"></div>
    </label>
    <input id="fileInput" type='file' (change)="uploadImages($event)" (input)="handleChange()">
    <br/>
    <br/>
    <button id="payment-button" type="submit">

      <span id="payment-button-amount">changer </span>
  </button>

            <div class="card-header">
                <strong class="card-title mb-3" style="color:black">
                  {{currentUser.role}} <a>profil</a>
                  </strong>

              </div>
            <div class="card-body">
                <div class="mx-auto d-block">
                    <h5 class="text-sm-center mt-2 mb-1" style="color:black;"><a>Nom :</a> {{currentUser.name}}</h5>
                    <h5 class="text-sm-center mt-2 mb-1" style="color:black;"> <a>prenom :</a> {{currentUser.prenom}}</h5>
                    <h5 class="text-sm-center mt-2 mb-1" style="color:black;"> <a>email :</a> {{currentUser.email}}</h5>

                    <h5 class="text-sm-center mt-2 mb-1" style="color:black;"><a>Profession: </a> {{currentUser.profession}}</h5>

                    <h5 class="text-sm-center mt-2 mb-1" style="color:black;"><a>date naissance: </a> {{currentUser.date_naissance}}</h5>
                    <div class="location text-sm-center" style="color:black" ><i class="fa fa-map-marker" style="color:black"></i>
                      {{currentUser.adresse}}</div>
                </div>
                <hr>

                <div class="card-text text-sm-center">
                  <a style="padding-right: 5px" [routerLink]="['/admin/edit-profil',currentUser._id]">
                    <i><i class="fa fa-pencil" style="font-size: large;color:green;">
                    Modifier compte</i></i>
                  </a>
                </div>
                <div class="card-text text-sm-center">

                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>


    </div>
  </div>
</form>


</div><!-- .row -->
</div><!-- .animated -->


<!-- Right Panel -->



