
  <div class="modal-content" id="PublicationModalContent" style="max-height: 1000px;background-color: #f0f0f0;">

  <div class="modal-body p-0">
    <form>

  <div class="row m-0">
  <div class="col-12 col-lg-6 header-cta d-flex flex-column justify-content-between py-4" style="min-height: 60px; background-color: #239f95;">

    <div class="ml-4"  style="background-color: #239f95;">
  <a style="color:#b80d57"  href="" >◄ </a>
  <h5 class="modal-title">{{mission.sujet}}</h5>
  <div *appShowAuthed="false">
    <a [routerLink]="['/login']">se connecter</a> ou <a [routerLink]="['/user/register']">créer votre compte</a> pour participer
  </div>

  <div class="pt-2">
  Avec
  l'association
  {{mission.nom_association1.nom_association}} / {{mission.nom_association1.name}}  {{mission.nom_association1.prenom}}
  </div>
  </div>


  <a class="btn btn-rounded btn-sm btn-action btn-modal" style="margin-left:460px;color: white;background-color: #b80d57;" *appShowAuthed="true"   (click)="apply(mission._id)">Je participe !</a>
  <div class="pt-2" style="margin-left: 580px;">

    {{mission.type}}
    </div>
</div>
  </div>
  <div class="row py-3 px-4">
  <div class="info-pratique col-sm-12 col-md-6" style="line-height:25px;">
  <div class="mb-4">
  <span class="font-weight-bold" style="color:#b80d57">Où ?</span>
  <div>
  <i class="fa fa-map-marker ml-1"></i>
  <span class="font-weight-light pl-2">{{mission.lieu}}"</span>
  </div>
  </div>
  <div class="mb-4">
  <span class="font-weight-bold"style="color:#b80d57">Quand ?</span>
  <div>
  <i class="fa fa-calendar"></i>
  <span class="font-weight-light pl-2">  {{mission.date}} au {{mission.datefin}}</span>
  </div>
  <div class="publication_availability map-only pl-4">
  </div>
  </div>
  <div>
  <div class="text-dark">
  <i class="fa fa-search"></i>
  <a class="font-weight-light pl-2 text-dark" href="#">Voir les participants</a>
  </div>
  </div>
<br>
</div>
<br>
  <div class="votre-mission col-sm-12 col-md-6">
  <h4 class="ml-lg-4 font-weight-bold" style="color:#b80d57">Votre mission !</h4>
  <p class="font-weight-light ml-lg-4">
    {{mission.description}} .</p>
  </div>
  </div>
  <div class="d-flex m-0 p-3 modal-leg" style="margin-top:top;">
  <div class="d-none d-lg-block p-2 text-center"style="margin-top:-50px">
  <a ><img alt="LOGO" class="modal-logo bg-white" src="{{mission.imageUrl}}" style=" height: 100px;">
  </a>
  </div>
  <div class="p-2">
  <h4 class="font-weight-bold" style="color: #b80d57;">{{mission.nom_association1.nom_association}}</h4>
  <p class="font-weight-light text-justify mb-1">{{mission.nom_association1.description}} </p>
  <a class="text-dark" [routerLink]="['/association/',mission.nom_association1._id]">
  <i class="fa fa-arrow-circle-right"></i>
  Voir toutes les publications de cette association
  </a>
  </div>
  </div>
</form>
</div>

</div>

