

<section id="content-section-5">
  <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
      <div class="container">
          <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
              <div class="greennature-item-title-container container">
                  <div class="greennature-item-title-head">
                      <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="assets/upload/target.png" alt="" width="80" height="80" />Nos associations</h3><a class="greennature-item-title-link" routerLink="/associations">plus d'associations</a>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          <div class="portfolio-item-wrapper type-classic-portfolio" >
              <div class="portfolio-item-holder  greennature-portfolio-column-4">
                  <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                      <div class="clear"></div>
                      <div class="three columns">
                          <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                              <div class="greennature-ux greennature-classic-portfolio-ux">

                                <agm-map [latitude]="lat" [longitude]="lng">
                                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                </agm-map>
                                    </div>



                          </div>
                          <div class="three columns" style="margin-left:500px; margin-top:-580px;">
                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                              <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                <div class="greennature-ux greennature-classic-portfolio-ux" *ngIf="associations$ | async as associations">
                                     <br>
                                  <table class="table" id="tablo" style="width: 400px;">

                                    <thead>
                                    <tr>
                                      <tr *ngFor="let s of associations$ | async as association">

                                        <td style="color: black;"  [routerLink]="['/association/',s._id]">{{s.nom_association}}


                                          <div class="portfolio-thumbnail greennature-image"><img src="{{s.imageUrl}}" alt="" Style="width: 100px;height: 100px;"/><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="assets/upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>
                                          <div style="color: black;"><i class="fa fa-map-marker" style="color:black"></i>{{s.adresse}}</div>

                                        </td>
                                      </tr>
                                    </thead >
                                    <tbody>
<!--
                                      <tr *ngFor="let s of associations$ | async as association">
                                      <td style="color: black;">{{s.nom_association}}</td>
                                      <td>
                                        <div class="portfolio-thumbnail greennature-image"><img src="assets/upload/shutterstock_161515241-540x326.jpg" alt="" Style="width: 100px;height: 100px;"/><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="assets/upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>

                                      </td>

                                      </tr> -->
                                    </tbody>
                                  </table>

                                      </div>



                            </div>



                            </div>
                      </div>



                  </div>
                  <div class="clear"></div>
              </div>
          </div>
          <div class="clear"></div>
          <div class="clear"></div>
      </div>

  <div class="clear"></div>
