

<section id="content-section-5">
  <div class="greennature-color-wrapper  gdlr-show-all no-skin" style=" padding-bottom: 25px; ">
      <div class="container">
          <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
              <div class="greennature-item-title-container container">
                  <div class="greennature-item-title-head">
                      <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><i class="fa fa-globe">
                      </i>Nos associations</h3
                      ><a class="greennature-item-title-link" routerLink="/associations">plus d'associations</a>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          <div class="portfolio-item-wrapper type-classic-portfolio" style="margin-left:0px">
            <div class="portfolio-item-holder  greennature-portfolio-column-4">
                <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows" style="margin-left:10px">
                    <div class="clear"></div>

                        <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio" style="margin-left:0px">
                            <div class="greennature-ux greennature-classic-portfolio-ux" style="margin-left:0px" >
                              &nbsp;&nbsp;

                                <mat-grid-list cols="5" rowHeight="160:160" >
                                  <mat-grid-tile *ngFor=" let association of associations$ | async as associations" style="margin-left:20px; max-width: 400px;">


                                    <div class="portfolio-classic-content" >

                                      <div class="d-flex m-0 p-3 modal-leg" style="margin-top:top;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="d-none d-lg-block p-2 text-center"style="margin-top:-50px">
                                        <a ><img [routerLink]="['/association/',association._id]" class="modal-logo bg-white" src="{{association.imageUrl}}" style=" height: 100px; width: 100px;">
                                        </a>
                                        </div>
                                        </div>

                                      &nbsp;&nbsp; &nbsp;&nbsp;
                                        <h3 class="portfolio-title"><a> {{association.nom_association}}</a></h3>


                                          </div>



                                    </mat-grid-tile>
                                </mat-grid-list>




                        </div>
                    </div>




                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
