
              <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff; ">
                            <div class="greennature-master-slider-item greennature-slider-item greennature-item" style="margin-bottom: 0px;">
                                <!-- MasterSlider -->
                                <div id="P_slider_1" class="master-slider-parent ms-parent-id-1">

                                    <!-- MasterSlider Main -->
                                    <div id="slider_1" class="master-slider ms-skin-default">

                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="assets/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="assets/upload/123.jpg" />

                                            <a href="#" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="208" data-origin="ml" data-position="normal">savoir plus</a>

                                            <div class="ms-layer  msp-cn-1-3"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105" data-origin="ml" data-position="normal">

                                                            je m'applique!</div>

                                            <div class="ms-layer  msp-cn-1-2"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5" data-origin="ml" data-position="normal">
                                                je m'engage, </div>

                                            <div class="ms-layer  msp-cn-1-1"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml" data-position="normal">
                                               SADAkA</div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="assets/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="assets/upload/mains3.jpg" />

                                            <a href="#" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="227" data-origin="ml" data-position="normal">savoir plus</a>



                                            <div class="ms-layer  msp-cn-1-7"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="383" data-offset-y="139" data-origin="ml" data-position="normal">
                                                    <br> une pour aider les autres</div>

                                            <div class="ms-layer  msp-cn-1-5"  data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="52" data-origin="ml" data-position="normal">
                                               VOUS avez deux mains une pour vous aider  </div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="assets/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="assets/upload/main5.jpg" />

                                            <div class="ms-layer  msp-cn-1-10"  data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="425" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="82" data-origin="mc" data-position="normal">
                                          ENSEMBLE on va très loin.</div>

                                            <div class="ms-layer  msp-cn-1-13"  data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15" data-origin="mc" data-position="normal">
                                             Seul on va plus vite ,</div>

                                        </div>

                                    </div>
                                    <!-- END MasterSlider Main -->

                                </div>
                                <!-- END MasterSlider -->


                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-brown-column-service" style="background-color: #239f95;  border-top: 5px solid #239f95; padding-top: 0px; padding-bottom: 0px; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img width="120px" height="120px" src="/assets/im/Profil.svg" class="u-inline-block u-mg-bottom" alt="">
                                            </div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Nos services</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                 <p>
                                                  Une équipe de visiteurs et la hot-line épaulent les associations pour :
                                                  <a> Définir et/ou valider leurs besoins en bénévoles</a>
                                                   <a>Utiliser au mieux toutes les fonctionnalités de nos sites et de leur moteur de recherche </a>
                                                  <a>Profiter de nos services dédiés au bénévolat des jeunes et au recrutement des cadres bénévoles </a>
                                                </p>
                                            </div><a class="column-service-read-more" href="#">savoir plus</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                   <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2-bg" style="margin-bottom: 0px;background-color: #239f95;">
                                            <div class="column-service-image"><img src="assets/images/gg.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">SADAKA</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                  <p>

                                                    <br>
                                                     SADAKA à pour mission principale est de faciliter la mise en relation entre les associations et les candidats bénévoles.
                                                    Les associations adhérentes peuvent ainsi déposer leurs offres de bénévolat directement en ligne et contacter,
                                                    sans intermédiaire, les bénévoles qui ont répondu à leurs offres. <br> <br>
                                                  </p>
                                                </div><a class="column-service-read-more" href="#">savoir plus</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img src="assets/upload/chat.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Contacter nous</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                  <p> N'hésitez pas à nous contacter, notre équipe est là pour vous aider !<br>
                                                    Un conseiller va vous répondre</p>
                                                </div><a class="column-service-read-more" href="#">savoir plus</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-3">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.11">
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="background: url('assets/upload/mii.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #239f95;">Je suis une association ou un collectif</h3>
                                        <div class="action-ads-caption greennature-skin-info"> j'ai besoin de:</div>
                                        <div class="action-ads-divider" style="background: #239f95;"></div>
                                        <div class="action-ads-content" style="color: white;font-size: large;">


                                            <p>1:Bénévoles et je publie des missions d'interet général;<br>
                                            	2:des locaux,on de matériels, je me rends dans l'espace coin du partage</p>

                                            <a class="action-ads-button large greennature-button greennature-lb-payment" routerLink="/register" style="color: white;background-color: #239f95;">je crée mon compte!</a></div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="background: url('assets/upload/mii.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #239f95;">Je suis un citoyen</h3>
                                        <div class="action-ads-caption greennature-skin-info">Je veux:</div>
                                        <div class="action-ads-divider" style="background: #239f95;"></div>
                                        <div class="action-ads-content" style="color: white;font-size: large;">
                                            <p>1:m'engager pour des missions de bénévolat,je rechercher des mission d'interet général. <br>
                                            2:proposer gratuitement des matériels, je depose les annonces dans l'espace coin du partage.</p>
                                            <a class="action-ads-button large greennature-button" style="color: #ffffff;background-color:#239f95;" routerLink="/user/register" >Je crée mon compte!</a></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>

                        <div class="clear"></div>
                        <app-mission></app-mission>
<!--
                    <section id="content-section-4">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
                            <div class="container">
                                <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                    <div class="greennature-item-title-container container">
                                        <div class="greennature-item-title-head">
                                            <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="assets/upload/target.png" alt="" width="80" height="80" />Nos missions</h3><a class="greennature-item-title-link" href="#">plus de mission</a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item-wrapper type-classic-portfolio" >
                                    <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                        <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                            <div class="clear"></div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="assets/upload/shutterstock_161515241-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="assets/upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">

                                                            <h3 class="portfolio-title"><a href="#" >nom1</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a href="#" rel="tag">description</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>

                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">savoir plus</a><a class="portfolio-classic-learn-more" href="#">savoir plus</a></div>
                                                        </div>
                                                          </div>

                                                </div>
                                            </div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="assets/upload/shutterstock_133689230-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="#"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#" >nom2</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a href="#" rel="tag">description</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>

                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">savoir plus</a><a class="portfolio-classic-learn-more" href="#">savoir plus</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="assets/upload/shutterstock_133689230-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="#"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#" >nom2</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a href="#" rel="tag">description</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>

                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">savoir plus</a><a class="portfolio-classic-learn-more" href="#">savoir plus</a></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="assets/upload/shutterstock_133689230-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="#"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#" >nom2</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title"></span><span class="sep"></span> <a href="#" rel="tag">description</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>

                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">savoir plus</a><a class="portfolio-classic-learn-more" href="#">savoir plus</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>

                        <div class="clear"></div>
                    </section> -->
                  <app-google-map></app-google-map>
                    <section id="content-section-6">
                        <div class="greennature-color-wrapper" style="background-color: #ffffff; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-small ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">evenements </h3><a class="greennature-item-title-link" href="#">continuer à lire </a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-item-wrapper">
                                        <div class="blog-item-holder">
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-852" class="post-852 post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row tag-blog tag-life-style">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="assets/upload/shutterstock_170752253-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">11</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Donec luctus imperdiet</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="assets/upload/shutterstock_49617541-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">09</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Magna pars studiorum</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-life-stlyle">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="assets/upload/shutterstock_70658833-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">04</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Sedial eiusmod tempor</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">0 <span class="greennature-tail" >Comment</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">

                                        <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-small ">
                                            <div class="greennature-item-title-container container">
                                                <div class="greennature-item-title-head">
                                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"></h3>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="greennature-video-item greennature-item">

                                    </div>
                                    <div class="greennature-item greennature-content-item">
                                        <p><strong><a style="font-size: 15px;" href="#"></a></strong></p>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-testimonial-item-wrapper">
                                        <div class="greennature-item-title-wrapper greennature-item  greennature-nav-container greennature-left-divider greennature-small ">
                                            <div class="greennature-item-title-container container">
                                                <div class="greennature-item-title-head">
                                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Avis</h3><span class="greennature-nav-title"><i class="icon-angle-left greennature-flex-prev"></i><i class="icon-angle-right greennature-flex-next"></i></span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="greennature-item greennature-testimonial-item carousel greennature-left plain-style">
                                            <div class="greennature-ux greennature-testimonial-ux">
                                                <div class="flexslider" data-type="carousel" data-nav-container="greennature-testimonial-item" data-columns="1">
                                                    <ul class="slides">
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="assets/upload/testimonial-3-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">Sarah Kof<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="assets/upload/testimonial-1-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">Jane Doe<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="assets/upload/testimonial-2-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">John Smith<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <div class="clear"></div>
                    </section>
                     <app-partenaire></app-partenaire>
        <!-- content wrapper -->
        <app-footer></app-footer>
        <!-- <footer class="footer-wrapper">
            <div class="footer-container container">
                <div class="footer-column three columns" id="footer-widget-1">
                    <div id="text-5" class="widget widget_text greennature-item greennature-widget">
                        <div class="textwidget">
                            <p><img src="assets/images/gg.png" style="width: 170px;" alt="" /></p>
                            <p>SADAKA est une plateforme qui rapproche bénévoles et associations !</p>
                        </div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-2">
                    <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Contactez-nous </h3>
                        <div class="clear"></div>
                        <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span> Address:

                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                            <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> +216

                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                            <i class="greennature-icon fa fa-mobile" style="vertical-align: middle; color: #fff; font-size: 20px; "></i> +216

                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                            <i class="greennature-icon fa fa-envelope-o" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> sadakacontact@gmail.com</div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-3">
                    <div id="gdlr-recent-post-widget-5" class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">suivez-Nous</h3>
                        <div class="clear"></div>
                        <div class="greennature-recent-post-widget">
                            <div class="recent-post-widget">
                                <div class="recent-post-widget-thumbnail">
                                    <a href="#"><img src="assets/upload/ff2.png" alt="" width="150" height="150" /></a>
                                </div>
                                <div class="recent-post-widget-content">
                                    <div class="recent-post-widget-title"><a href="#">facebook</a></div>
                                    <div class="recent-post-widget-info">

                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="recent-post-widget">
                                <div class="recent-post-widget-thumbnail">
                                    <a href="#"><img src="assets/upload/insta2.png" alt="" width="150" height="150" /></a>
                                </div>
                                <div class="recent-post-widget-content">
                                    <div class="recent-post-widget-title"><a href="#">Instagram</a></div>

                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-4">
                    <div id="gdlr-recent-portfolio2-widget-6" class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">AGIR MAINTENANT !</h3>
                        <div class="clear"></div>
                        <div class="greennature-recent-port2-widget">
                            <div class="recent-port-widget-thumbnail">

                            </div>

                                            <ul class="dl-submenu">
<br>

                                                <li class="menu-item"><a href="portfolio-grid-2-columns.html">les mission</a></li>
                                                <li class="menu-item"><a href="portfolio-grid-2-columns.html">les annuaires</a></li>
                                                <li class="menu-item"><a href="portfolio-grid-3-columns.html">coin de paratges</a></li>
                                         </ul>


                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>

                            </div>
                            <div class="recent-port-widget-thumbnail">

                            </div>
                            <div class="recent-port-widget-thumbnail">
                            </div>
                            <div class="recent-port-widget-thumbnail">
                            </div>
                            <div class="recent-port-widget-thumbnail">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>



        </footer> -->


    <!-- body-wrapper -->

