<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
  <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
      <header class="greennature-header-wrapper header-style-5-wrapper greennature-header-with-top-bar">
          <!-- top navigation -->
          <div class="top-navigation-wrapper">
              <div class="top-navigation-container container">
                  <div class="top-navigation-left">
                      <div class="top-navigation-left-text" style="color: black;">
                           Email : sada9acontact@gmail.com </div>
                  </div>
                  <div class="top-navigation-right">
                      <div class="top-social-wrapper">
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-facebook"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-flickr"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-linkedin"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-pinterest-p"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-tumblr"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-twitter"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-vimeo"></i></a>
                          </div>
                          <div class="clear"></div>
                      </div>
                  </div>
                  <div class="clear"></div>
              </div>
          </div>

          <div id="greennature-header-substitute"></div>
          <div class="greennature-header-inner header-inner-header-style-5"*appShowAuthed="false" >
              <div class="greennature-header-container container">
                  <div class="greennature-header-inner-overlay">

                  </div>
                  <!-- logo -->
                  <div class="greennature-logo">
                      <div class="greennature-logo-inner"  >
                          <a href="index.html">
                              <img src="assets/images/gg.png" alt="" style="height:50px;width:40px"/> </a>
                      </div>
                      <div class="greennature-responsive-navigation dl-menuwrapper" id="greennature-responsive-navigation"  >
                          <ul id="menu-main-menu" class="dl-menu greennature-main-mobile-menu" >
                              <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item"><a href="index.html" aria-current="page"  >Accueil</a></li>
                              <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item"><a routerLink="mission-details" aria-current="page">Missions</a></li>
                          </ul>
                      </div>
                  </div>

                  <!-- navigation -->
              <div class="greennature-navigation-wrapper">
                      <nav class="greennature-navigation" id="greennature-main-navigation">
                          <ul id="menu-main-menu-1" class="sf-menu greennature-main-menu">
                              <li class="menu-item menu-item-home current-menu-item greennature-normal-menu"><a routerLink="/"><i class="fa fa-home" ></i>Accueil</a></li>
                                <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/mission-details"class="fa fa-file-text-o"><i class=""></i>Missions</a>
                              </li>
                              <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/associations"class="sf-with-ul-pre"><i class="fa fa-globe"></i>Associations</a>
                                  <div class="sf-mega">
                                      <ul class="sub-menu">
                                      </ul>
                                  </div>
                              </li>
                                  </ul>


                          <a class="greennature-donate-button greennature-lb-payment"><span class="greennature-button-overlay"></span><span class="greennature-button-donate-text" routerLink="/admin/profil">connecter</span></a>

                      </nav>
                      <div class="greennature-navigation-gimmick" id="greennature-navigation-gimmick"></div>
                      <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
