<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
  <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
      <header class="greennature-header-wrapper header-style-5-wrapper greennature-header-with-top-bar" style="height:10px;">
          <!-- top navigation -->
          <!-- <div class="top-navigation-wrapper">
              <div class="top-navigation-container container">
                  <div class="top-navigation-left">
                      <div class="top-navigation-left-text" style="color: black;">
                           Email : sada9acontact@gmail.com </div>
                  </div>
                  <div class="top-navigation-right">
                      <div class="top-social-wrapper">
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-facebook"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-flickr"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-linkedin"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-pinterest-p"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-tumblr"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-twitter"></i></a>
                          </div>
                          <div class="social-icon">
                              <a href="#" target="_blank">
                                  <i class="fa fa-vimeo"></i></a>
                          </div>
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          <div class="social-icon">
                            <a routerLink="/admin/profil" >
                                <i class="fa fa-user"></i></a>
                        </div>
                          <div class="clear"></div>
                      </div>
                  </div>
                  <div class="clear"></div>
              </div>
          </div> -->

          <div id="greennature-header-substitute"></div>
          <div class="greennature-header-inner header-inner-header-style-5"  style="background-color: #63b7af;height: 70px;" >
              <div class="greennature-header-container container">

                  <!-- logo -->
                  <div class="greennature-logo">
                      <div class="greennature-logo-inner"  >
                          <a href="index.html">
                              <img src="assets/images/gg.png" alt="" style="height:60px;width:60px"/> </a>
                      </div>
                      <div class="greennature-responsive-navigation dl-menuwrapper" id="greennature-responsive-navigation"  >
                          <ul id="menu-main-menu" class="dl-menu greennature-main-mobile-menu" >
                              <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item"><a href="index.html" aria-current="page"  >Accueil</a></li>
                              <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item"><a routerLink="mission-details" aria-current="page">Missions</a></li>
                          </ul>
                      </div>
                  </div>

                  <!-- navigation -->
              <div class="greennature-navigation-wrapper">
                      <nav class="greennature-navigation" id="greennature-main-navigation">
                          <ul id="menu-main-menu-1" class="sf-menu greennature-main-menu">
                              <li class="menu-item menu-item-home current-menu-item greennature-normal-menu"><a routerLink="/"><i class="fa fa-home" ></i>Accueil</a></li>

                              <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/mission-details"class="sf-with-ul-pre"><i class="fa fa-file-text-o"></i>Missions</a>

                              <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/associations"class="sf-with-ul-pre"><i class="fa fa-globe"></i>Associations</a>
                                <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/login"class="sf-with-ul-pre" *appShowAuthed="false"><i class="fa fa-globe"></i>Se connecter</a>

                                  <li class="menu-item menu-item-has-childrenmenu-item menu-item-has-children greennature-mega-menu"><a routerLink="/admin/profil"class="sf-with-ul-pre" *appShowAuthed="true"><i class="fa fa-user"></i>Compte</a>

                              </li>
                              </ul>

