<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680" style="position: centre;margin-left:200px">
      <div class="card card-4" style="width: 940px;">
          <div class="card-body">
  <h3>INSCRIVEZ VOTRE ASSOCIATION</h3>
<h4>
  POUR MOBILISER LES CITOYENS AUTOUR DE VOS ACTIONS ET
GÉRER SIMPLEMENT VOS APPELS À BÉNÉVOLES !

</h4>
  <form [formGroup]="registrationForm" (ngSubmit)="addPost()"><br>



    <input   class="input-group" type="text" class="input--style-4" placeholder="nom de l'ASSOCIATION"  formControlName="nom_association" [(ngModel)]="nom_association"  (input)="handleChange()" />



<div class="row row-space">
  <div class="col-2">
    <input   class="input-group"type="text" class="input--style-4"  placeholder="date de creation" formControlName="date_creation" [(ngModel)]="date_creation"  (input)="handleChange()" />

     </div>
     <div class="col-2">
    <input  class="input-group" type="text" placeholder="numero de l'association"  class="input--style-4" formControlName="numero_association" [(ngModel)]="numero_association" (input)="handleChange()" />
  </div>
</div>

      <div class="row row-space">
      <div class="col-2">
        <input  class="input-group"type="text" class="input--style-4" placeholder=" adresse postale"formControlName="adresse" [(ngModel)]="adresse" (input)="handleChange()" />
      </div>
    <div class="col-2">
    <input  class="input-group" type="text" class="input--style-4" placeholder="code postal"  formControlName="code_postal" [(ngModel)]="code_postal"  (input)="handleChange()" />
    </div>
  </div>

  <div class="row row-space">
     <div class="col-2">
    <input  class="input-group"
      type="email" class="input--style-4"
      placeholder="entrez votre Email" formControlName="email"
      [(ngModel)]="email"  (input)="handleChange()" />
    </div>
    <div class="col-2">
    <input  class="input-group" type="password" class="input--style-4"
      placeholder="entrez votre Password" formControlName="password"
      [(ngModel)]="password"  (input)="handleChange()"/>
    </div>
    </div>

  <!-- <div class="row row-space">
      <div class="col-2">
      <select [(ngModel)]="secteur" class="input-group" *ngIf="secteurs$ | async as secteurs">
        <option value="secteur" class="input-group">choisir le secteur selon votre activite</option>
        <option *ngFor="let secteur of secteurs" [value]="secteur.type_activite">{{secteur.type_activite}}</option>
      </select>
    </div>
    </div> -->

    <mat-form-field  *ngIf="secteurs$ | async as secteurs">

      <mat-label class="input-group">Secteur</mat-label>
      <mat-select formControlName="secteurId" [(ngModel)]="secteurId"  (input)="handleChange()">
        <mat-option [value]="secteur._id" *ngFor="let secteur of secteurs">{{secteur.type_activite}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-divider>

    </mat-divider>

  <h4>A propos le responsable</h4>
    <div class="row row-space">
      <div class="col-2">
     <input  class="input-group"
       type="text" class="input--style-4"
       placeholder="entrez votre nom" formControlName="name"
       [(ngModel)]="name"  (input)="handleChange()" />
     </div>
     <div class="col-2">
     <input  class="input-group" type="text" class="input--style-4"
       placeholder="entrez votre prenom" formControlName="prenom"
       [(ngModel)]="prenom"  (input)="handleChange()"/>
     </div>
     </div>
     <div class="row row-space">
      <div class="col-2">
     <input  class="input-group"
       type="text" class="input--style-4"
       placeholder="votre numero_telephone" formControlName="numero_telephone"
       [(ngModel)]="numero_telephone"  (input)="handleChange()" />
     </div>
     <div class="col-2">
     <input  class="input-group" type="text" class="input--style-4"
       placeholder="entrez votre profession" formControlName="profession"
       [(ngModel)]="profession"  (input)="handleChange()"/>
     </div>
     </div>
     <br>
    <div class="form-group">
      <label for="imageUrl" style="color: black;">Logo association</label>
      <input type="file" formControlName="imageUrl" class="form-control-file" (change)="uploadImage($event)" />
      <br />
      <img *ngIf="imageUrl" [src]="imageUrl" [alt]="imageUrl" height="200px">
    </div>


    <input type="submit" value="s'inscire" />
    <div class="text-center">
      <a>Vous avez un compre?</a><a routerLink="login" class="txt2 hov1"> créer votre compte	</a>
    </div>


