
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">
<br>
<br>
<br>
      <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
      </div>

      <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Tableau </a>
              </li>
              <li class="menu-item-has-children dropdown">
                <a routerLink="/admin/profil" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Profil</a>

            </li>
              <h3 class="menu-title">Listes</h3><!-- /.menu-title -->

              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="isAdmin"> <i class="menu-icon fa fa-table"></i>Associations</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a routerLink="/admin/table-association"*ngIf="isAdmin">Liste des associations</a></li>
                      <li><i class="fa fa-table"></i><a href="/admin/association"*ngIf="isAdmin">ajouter associations</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="isAdmin"><i class="menu-icon fa fa-table"></i>Bénévoles</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="fa fa-table"></i><a href="/admin/table-benevole">Liste de bénévoles</a></li>
                  <li><i class="fa fa-table"></i><a href="/admin/benevole">Ajouter bénévole</a></li>
              </ul>
              </li>
              <!-- <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isAdmin"><i class="menu-icon fa fa-table"></i>Membres</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a href="tables-basic.html" >Liste de membres</a></li>
                      <li><i class="fa fa-table"></i><a href="tables-data.html">Ajouter membre</a></li>
                  </ul>
            </li> -->
            <li class="menu-item-has-children dropdown">
              <a routerLink="/admin/table-action" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isBenevole">♥ Mes actions solidaires</a>
          </li>
          <li class="menu-item-has-children dropdown">
            <a routerLink="/admin/table-propositions" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isBenevole"> ☼ Mes propositions </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a routerLink="/admin/propositions" class="dropdown-toggle"  aria-haspopup="true" aria-expanded="false"*ngIf="isBenevole"> ○ Nouvelle propositions</a>
      </li>
            <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="!isBenevole"> <i class="menu-icon fa fa-table"></i>evenements</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a routerLink="/admin/table-event" *ngIf="!isBenevole">Liste de evenements</a></li>
                      <li><i class="fa fa-table"></i><a routerLink="/admin/evenement" *ngIf="!isBenevole">ajouter evenement</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!isBenevole"> <i class="menu-icon fa fa-table" *ngIf="!isBenevole"></i>Missions</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a href="/admin/table-mission" *ngIf="!isBenevole">Liste de missions</a></li>
                      <li><i class="fa fa-table"></i><a href="/admin/mission" *ngIf="!isBenevole">Ajouter mission </a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isAdmin"> <i class="menu-icon fa fa-table"></i>Secteurs</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a href="/admin/table-secteur">Liste de secteurs</a></li>
                      <li><i class="fa fa-table"></i><a routerLink="/admin/secteur">Ajouter secteur</a></li>
                  </ul>
              </li>
                   <li class="menu-item-has-children dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isAdmin"> <i class="menu-icon fa fa-table"></i>Secteurs</a>
                  <ul class="sub-menu children dropdown-menu">
                      <li><i class="fa fa-table"></i><a href="/admin/table-secteur">Liste de secteurs</a></li>
                      <li><i class="fa fa-table"></i><a routerLink="/admin/secteur">Ajouter secteur</a></li>
                  </ul>
              </li>
              <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*ngIf="isAdmin"> <i class="menu-icon fa fa-table"></i>Partenaires</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="fa fa-table"></i><a routerLink="/admin/table-partenaire" *ngIf="isAdmin">Liste de partenaires</a></li>
                    <li><i class="fa fa-table"></i><a routerLink="/admin/partenaire" *ngIf="isAdmin">Ajouter parternaire</a></li>
                </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a routerLink="/admin/adhesion" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!isAdmin"><i class="menu-icon fa fa-table"></i>Adhésion</a>

            </li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</aside><!-- /#left-panel -->




<link rel="stylesheet" href="assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="assets/assets/css/style.css">


