

<div  style="background-color: #ffffff;">
        <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Seuls,nous pouvons faire si peu ensemble, nous pouvons faire beaucoup</h1>
                <span class="greennature-page-caption">Trouvez une mission!</span>
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <div class="with-sidebar-container container">
                        <div class="with-sidebar-left eight columns">
                            <div class="with-sidebar-content twelve columns">
                                <section id="content-section-1">
                                    <div class="section-container container">
                                        <div class="blog-item-wrapper">
                                            <div class="blog-item-holder">
                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">

                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">

                                                                </div>

                                                                <div class="blog-content-wrapper">
                                                                    <header class="post-header">
                                                                        <h3 class="greennature-blog-title"><a href="../2013/12/09/magna-pars-studiorum/index.html">Trouvez une mission</a></h3>
                                                                            <div class="greennature-sidebar greennature-right-sidebar four columns">
                                                                          <div class="greennature-item-start-content sidebar-right-item">
                                                                            <div class="gdl-search-form">
                                                                            </div>

                                                                          </div>
                                                                      </div>
                                                                        <div class="greennature-blog-info">

                                                                          <div class="clear"></div>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </header>
                                                                    <!-- entry-header -->


                                                                </div>
                                                                <!-- blog content wrapper -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-life-stlyle">
                                                            <div class="greennature-standard-style">



                                                                <div class="blog-content-wrapper">
                                                                    <header class="post-header">
                                                                    <ul *ngIf="missions$ | async as missions">
                                                                      <li *ngFor="let mission of missions">
                                                                        <h3 class="greennature-blog-title">
                                                                          <a>{{mission.type}}</a></h3>
                                                                        <div class="">
                                                                          <a href="../2013/12/04/sedial-eiusmod-tempor/index.html"> <img  src="{{mission.imageUrl}}" alt="" style= "width:300px ;height:300px "/></a>
                                                                      </div>

                                                                 <br>
                                                                <div class="greennature-blog-date-wrapper" >cd frontened
                                                                  <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#"style="color: #f0134d;">DEBUT:{{mission.date}}</a></div>
                                                                  <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#"style="color: #f0134d;">FIN:{{mission.datefin}}</a></div>
                                                              </div>
                                                              <div class="greennature-blog-content" style="color: black;margin-top: 100px;

                                                              margin-left: 80px;">
                                                                <p>{{mission.besoin}}</p>
                                                                <div class="clear"></div><a href="../2013/12/04/sedial-eiusmod-tempor/index.html" class="excerpt-read-more">Read More</a></div>

                                                                        <div class="greennature-blog-info">                                                                            <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="../2013/12/04/sedial-eiusmod-tempor/index.html#respond">0<span class="greennature-tail" >Comment</span></a></div>
                                                                            <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="../author/superuser/index.html" title="Posts by John Maxwell" rel="author">{{mission.nom_association}}</a></div>
                                                                            <div class="blog-info blog-category greennature-skin-info">
                                                                              <i class="fab fa-slideshare"></i><a routerLink="/login" rel="tag">Participer</a>
                                                                            </div>
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="clear"></div>

                                                                      </li>
                                                                    </ul>
                                                               </header>
                                                                    <!-- entry-header -->
                                                                   </div>
                                                                <!-- blog content wrapper -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>

                                                <div class="greennature-item greennature-blog-full">
                                                    <div class="greennature-ux greennature-blog-full-ux">
                                                        <article id="post-35" class="post-35 post type-post status-publish format-aside hentry category-aside category-blog tag-aside tag-post-format post_format-post-format-aside">
                                                            <div class="greennature-blog-content">
                                                            <p>" On a intérêt au bonheur des autres, on a intérêt à ce que les autres ne soient pas malades, on a intérêt au succès des autres parce que nous sommes une équipe collective.
                                                            <h6 style="text-align: right;">Jacques Attali</h6>

                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="greennature-pagination"><span aria-current='page' class='page-numbers current'>1</span>
                                                <a class='page-numbers' href='page/2/index.html'>2</a>
                                                <a class='page-numbers' href='page/3/index.html'>3</a>
                                                <a class="next page-numbers" href="page/2/index.html">Next &rsaquo;</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="greennature-sidebar greennature-right-sidebar four columns">
                            <div class="greennature-item-start-content sidebar-right-item">
                                <div id="search-3" class="widget widget_search greennature-item greennature-widget">
                                    <div class="gdl-search-form">
                                        <form method="get" id="searchform" action="https://demo.goodlayers.com/greennature//">
                                            <div class="search-text" id="search-text">
                                                <input type="text" name="s" id="s" autocomplete="off" data-default="exemple accompagnemenet scoalire..." />
                                            </div>
                                            <input type="submit" id="searchsubmit" value="" />
                                            <div class="clear"></div>
                                        </form>
                                    </div>
                                </div>




                                <mat-form-field>
                                  <label style="text-align:left;" class="greennature-widget-title">  Type mission : </label>
                                  <mat-select class="greennature-widget-title">
                                    <mat-option [value]="1">Ponctuelle</mat-option>
                                    <mat-option [value]="2">Réguliere</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <div id="tag_cloud-2" class="widget widget_tag_cloud greennature-item greennature-widget">
                                  <h3 class="greennature-widget-title">Associations</h3>
                                  <div class="clear"></div>
                                  <div class="tagcloud">
                                     <ul *ngIf="associations$ | async as associations">
                                    <li *ngFor="let association of associations">
                                      <a href="#" class="tag-cloud-link tag-link-25 tag-link-position-15" style="color:seashell">{{association.nom_association}}</a></li>
                                     </ul>
                                    </div>
                              </div>
                                <div id="gdlr-recent-portfolio-widget-2" class="widget widget_gdlr-recent-portfolio-widget greennature-item greennature-widget">
                                    <h3 class="greennature-widget-title">evenements</h3>
                                    <div class="clear"></div>
                                    <div class="greennature-recent-port-widget">
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/wind-energy/index.html"><img src="assets/upload/shutterstock_161515241-150x150.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/wind-energy/index.html">Wind Energy</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/elephant-sanctuary/index.html"><img src="assets/upload/shutterstock_133689230-150x150.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/elephant-sanctuary/index.html">Elephant Sanctuary</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="recent-post-widget">
                                            <div class="recent-post-widget-thumbnail">
                                                <a href="../portfolio/conservation-volunteering/index.html"><img src="assets/upload/shutterstock_53600221-150x150.jpg" alt="" width="150" height="150" /></a>
                                            </div>
                                            <div class="recent-post-widget-content">
                                                <div class="recent-post-widget-title"><a href="../portfolio/conservation-volunteering/index.html">Conservation Volunteer</a></div>
                                                <div class="recent-post-widget-info">
                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="../2013/12/04/index.html">04 Dec 2013</a></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <app-footer></app-footer>
        <!-- content wrapper -->
